*{
    margin: 0;
    padding: 0;
    
}

/*header*/

header{
    width: 100%;
    border-top: 2px solid white;
    background-color: rgb(223, 222, 222);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}
#logo{
    width: 30%;
    font-size: 3.3vw;
    font-weight: bold;
    margin-top: 3.4vh;
    margin-left: 4vh;
}


/* navbar */
nav{
    background-color: black;
    color: white;
    font-size: 2vw;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    display: inline-block;
    border-right: 4px solid white;  
    padding: 1%;
    text-align: center;  
   
}
nav ul li:hover{
   background-color: green;  

}

/*main */
main{
    overflow: hidden;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
}

.content{
    width: 64%;
    float: left;
    padding: 1.5%;
}
.content h1{
    color:rgb(24, 107, 134);
}
.sidebar{
    width: 30%;
    float: right;
    padding: 1.5%;
    background-color:rgb(205, 213, 218);
    
}
.sidebar h2{
    color:rgb(24, 107, 134)
}

/*footer*/

footer{
     background-color: rgb(223, 222, 222);
    padding:2% 0 3% 0;
    
}
#copyright{
    float: right;
    margin-right: 2%;
    font-size: 1.4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}